{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- MAIN STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- RESPONSIVE CSS-->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <title>PIMS</title>
</head>
<!-- try for nav bar -->


<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>`
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'L.Geoserver.js' %}"></script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="#" class="navbar-brand">About PIMS</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/pricing">Pricing</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Clients<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/home">Swadesh Properties Ltd</a></li>
                                    <li><a href="#">Concord Real Estate</a></li>
                                    <li><a href="#">Nakshi Homes Ltd</a></li>

                                </ul>
                            </li>
                            <li><a href="#">Documentation</a></li>

                            <li><a href="#">Demo</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search To our site..." class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/accounts/login">Login</a></li>
                                    <li><a href="/accounts/logout/">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <h1>Plot Detail information</h1>
<h1>{{plot_num}}</h1>
<script>
// var queryString = location.search.substring(1);
// var a = queryString.split("plot_num");



// document.getElementById("demo").innerHTML = a;


</script>

<h4><ul>

    {% for athlete in sodeshData %}
    
        {% if athlete.plot_no == sum %}
            <li>Plot No. {{ athlete.plot_no }}</li>
            <li>Area Sqft {{ athlete.area_sqft }}</li>
            <li>Area Bigha {{ athlete.area_bigha }}</li>
            <li>katha {{ athlete.katha_1 }}</li>
            <li>Dimension. {{ athlete.dimension }}</li>
            <li>owner name. {{ athlete.owner_name }}</li>
            <li>spouse name. {{ athlete.spouse_nam }}</li>
            <li> land category {{ athlete.land_cat  }}</li>
        {% endif %}
    {% endfor %}
  


    </ul></h4>
    <h5>Plot Number: {{ sodeshData.plot_no }}</h5>
</body>
</html>

